.entry {
  background-color: white;
  border: 2px black solid;
  padding: 5px;
  transition: 0.2s;
}

.entryName {
  display: inline-block;
  cursor: pointer;
}

.dropdownContainer {
  float: right;
  margin: 10px;
}
