.header {
  background-color: lightgreen;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.defaultEntry {
  background-color: lightgray;
  border: 2px black solid;
  padding: 5px;
  transition: 0.2s;
}
.entryName {
  font-size: 24px;
  font-weight: 500;
  font-family: sans-serif;
}
