.header {
  background-color: lightblue;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.entry {
  background-color: lightgray;
  border: 2px black solid;
  padding: 5px;
  transition: 0.2s;
}
.entryHeader {
  font-size: 24px;
  font-weight: 500;
  font-family: sans-serif;
}
